<!DOCTYPE html>
<html>
<head>
  <title>Tennis Buddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link
    href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600'
    rel='stylesheet'
    type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="../assets/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>



<body>
  <!-- nav layout -->
  <nav>
    <ul>
      <li>Home</li>
      <li>My Profile</li>
      <li>Past Games</li>
      <li>Browse Area</li>
      <li>Create Game</li>
    </ul>
  </nav>

  <div class="main-body">

    <div class="home"></div>

    <div class="profile"></div>

    <div class="past-games"></div>

    <div class="browse"></div>

    <div class="create"></div>

  </div>

  <div class="footer">
    Copyright 2016
  </div>


</body>

</html>