<!DOCTYPE html>
<html>
<head>
  <title>Tennis Buddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link
    href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600'
    rel='stylesheet'
    type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/controllers/mainController.js"></script>
  <link href="../assets/css/main.css" rel="stylesheet" type="text/css" media="all">
</head>



<body ng-app="myApp" ng-controller="mainController">

{{ tabSelection}}
  <!-- nav layout -->
  <nav>
    <a class="logo" href="#home"><img src="../assets/img/logo.png"/></a>
    <ul>
      <li><a ng-click="tabSwitch(tabsArray[0])">Home</a></li>
      <li><a ng-click="tabSwitch(tabsArray[1])">My Profile</a></li>
      <li><a ng-click="tabSwitch(tabsArray[2])">Past Games</a></li>
      <li><a ng-click="tabSwitch(tabsArray[3])">Browse Area</a></li>
      <li><a ng-click="tabSwitch(tabsArray[4])">Create Game</a></li>
    </ul>
  </nav>

  <div class="main-body">

    <div ng-show="home" class="home">
      <img alt="bgimg" src="../assets/img/tennis-ball.jpg">
      <div class="main-content">Time for a game</div>
    </div>

    <div ng-show="profile" ng-hide="!profile" class="profile">
      Hello profile! :)
      <p>{{ user }} </p>
    </div>

    <div ng-show="past" ng-hide="!past" class="past">
      Hello past games
    </div>

    <div ng-show="browse" ng-hide="!browse" class="browse">
      Hello  browse :D
    </div>

    <div ng-show="create" ng-hide="!create" class="create"></div>
      Hello create :D
    </div>

  </div>

  <div class="footer">
    Copyright 2016
  </div>


</body>

</html>