<!DOCTYPE html>
<html>
<head>
  <title>Tennis Buddy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link
    href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600'
    rel='stylesheet'
    type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/controllers/mainController.js"></script>
    <script src='../node_modules/lodash/lodash.min.js'></script>
    <script src='../node_modules/angular/angular.min.js'></script>
    <script src='../node_modules/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src="../node_modules/angular-xeditable/dist/js/xeditable.js"></script>
    <script src='../node_modules/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js?sensor=false'></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css" media="all">


    <!-- Header Tag Code <script data-cfasync='false' type='text/javascript'>/*<![CDATA[*/(function (a, c, s, u){'Insticator'in a || (a.Insticator={ad:{loadAd: function (b){Insticator.ad.q.push(b)}, q: []}, helper:{}, embed:{}, version: "2.0", q: [], load: function (t, o){Insticator.q.push({t: t, o: o})}}); var b=c.createElement(s); b.src=u + new Date(Math.floor(new Date().getTime() / 6e5) * 6e5).getTime(); b.async=!0; var d=c.getElementsByTagName(s)[0]; d.parentNode.insertBefore(b, d)})(window, document, 'script', '//embed.insticator.com/embeds/script?sid=0ad2deee-7315-4c6b-91e1-6b02928bddba&cbt=');/*]]>*/</script>
     End Header Tag Code -->

</head>



<body ng-app="myApp" ng-controller="mainController">

{{ tabSelection}}
  <!-- nav layout -->
  <nav>
    <a class="logo" ng-click="tabSwitch('home')"><img src="../assets/img/logo.png"/></a>
    <ul> <!-- once backend implemented -->
      <!-- <li><a ng-click="tabSwitch('signup')">Signup</a></li> -->
      <li><a ng-click="tabSwitch('login')">Login</a></li>
      <li><a ng-click="tabSwitch('profile')">My Profile</a></li>
      <li><a ng-click="tabSwitch('past')">Past Games</a></li>
      <li><a ng-click="tabSwitch('browse')">Browse Area</a></li>
    </ul>
  </nav>

  <div class="main-body">

    <div class="home" ng-show="tabs.home == 'active'">
      <img alt="bgimg" src="../assets/img/tennis-ball.jpg">
      <div class="main-content">Time for a game <br>
      <div class="location-question">
        Where are you located? <br>
        <form action="index.html">
        <input type="text" class="current-location" name="current-location" ng-model="location"><br>
        <input class="submit-location" type="submit" value="Submit my Location" ng-click="submitLocation()"><br>
        <input class="locate" type="submit" ng-click="locate()" value="Geolocate me">
      </form>
        </div>
      </div>
    </div>

    <div class="login" ng-show="tabs.login == 'active'">
      <div class="login-form">
      <p>
        <form action="/">
          <label>Email: </label><br>
          <input type='text' class='login-email' ng-model="user.email"><br>
          <label>Password: </label><br>
          <input type='password' class='login-password' ng-model="user.password"><br>
          <input type='submit' class='login-submit' ng-click="login()" value="Log in!">
        </form>
        </p>
      </div>
    </div>

    <div class="profile" ng-show="tabs.profile == 'active'">
      <h2>My Profile</h2>
      <p class="profile-description" >
        <div class="first-col">
          <div editable-text="user.firstName">first name: <br>
          {{ user.firstName }} </div><br>
          <div editable-text="user.lastName">last name: <br>
          {{ user.lastName }} </div><br>
          <div editable-text="user.description">description: <br>
          {{ user.description }} </div><br>
        </div>

        <div class="second-col">
          <div editable-text="user.email">email: <br>
          {{ user.email }} </div><br>
          <div editable-text="user.password">password: <br>
          {{ user.password }}</div><br>
          <div editable-text="user.games">games played: <br>
          {{ user.games }} </div><br>
        </div>
      </p>

      <button id="edit-btn" ng-click="editProfile()" ng-hide="showEditForm">Edit Info</button>
      <button id="delete-btn" ng-click="deleteProfile()" ng-hide="showEditForm">Deactivate Account</button>

    </div>

    <div class="past" ng-show="tabs.past == 'active'">
      Hello past games
    </div>

    <div class="browse" ng-show="tabs.browse == 'active'">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>

  </div>

  <div class="footer">

<!-- Insticator API Embed Code
<div id="insticator-container"><div id="div-insticator-ad-1"></div><div id="insticator-embed"></div><div id="div-insticator-ad-2"></div><script data-cfasync='false' type="text/javascript">/*<![CDATA[*/Insticator.ad.loadAd("div-insticator-ad-1");Insticator.ad.loadAd("div-insticator-ad-2");Insticator.load("em",{id : "aaab9352-4350-463a-bca1-5548833110e8"})/*]]>*/</script></div><!-- End Insticator API Embed Code -->

    Copyright 2016
  </div>


</body>

</html>