* {
    box-sizing: border-box;
}

html {
  font-size: 14px;
}

nav {
  padding: 15px;
  border: 2px solid black;
  background-color: yellow;
  margin: 2px;
  height: 20%;
}

.main-body {
  padding: 15px;
  background-color: #A9F5F2;
  border: 2px solid black;
  margin: 2px;

}

.main-body .home {
  float: left;
  width: 100%;
}

.main-body .profile {

}

.main-body .past-games {

}

.main-body .browse {

}

.main-body .create {

}

.footer {
  background-color: yellow;
  padding: 15px;
  border: 2px solid black;
  margin: 2px;
  clear: both;
  height: 20%;
}